.cuerpo {
    background-color: lightgreen;
    display: flex;
}

.navbar {
    width: 150px;
    margin: 0;
    border-right: 2px solid black;
}

.contenido {
    margin: 0;
    height: calc(100vh - 121px);
    width: calc(100vh + 654px);
    padding-left: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
}

h1{
    margin: 5px;
}

.navbar ul li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;}

.navbar ul li li {
    margin-left: 10px;
}

.navbar ul li:last-child {
    border-bottom: 0;

}