/*css de el color de fondo y los márgenes de la web*/

body{
    background-color: #186fcc;
}

.general{
    margin-left: 15px;
    margin-right: 15px;
}

/*css para el título*/

.encabezado{
    text-align: center;
    border-style: solid; 
    border-color:#000000; 
    border-radius: 100px; 
    border-width: 5px;
    background-color:#b8dbf1;
    max-width: 40%;
    margin-left: 30%;
}

/*css para los textos h1 de el div general*/

.general h1{
    text-align: center;
    border-style: solid; 
    border-color:#000000; 
    border-radius: 100px; 
    border-width: 5px;
    background-color:#b8dbf1;
    padding-bottom: 5px;
    padding-top:5px;
}

/*css para los diferentes div que conforman el contenido de la web*/

.aprt1{
    margin-right: 100px;
    text-align: justify;
}

.aprt2{
    text-align: justify;
}

.aprt4{
    display: flex;
}

.aprt5{
    justify-self: center;
}

.superior{
    display: flex;
}

/*css relacionado con las imágenes de la web*/

.imgJuego{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-color:#000000; 
    border-radius: 100px; 
    border-width: 10px;
}

.imgJuego:hover{
    border-style:solid;
    border-color: #186fcc;
    transform: translate(30px, 0px);
    transition: transform 1.0s ease-in;
}

.imgCreador{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-color:#000000; 
    border-radius: 100px; 
    border-width: 10px;
}

.imgCreador:hover{
    border-style:solid;
    border-color: #186fcc;
    transform: translate(30px, 0px);
    transition: transform 1.0s ease-in;
}

.imgCodigo{
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-left: 50px;
    width: 350px;
    height: 150px;
    border-color:#000000; 
    border-radius: 100px; 
    border-width: 10px;
}

.imgCodigo:hover{
    border-style:solid;
    border-color: #186fcc;
    transform: translate(30px, 0px);
    transition: transform 1.0s ease-in;
}

/*Estilos relacionados con la tabla*/

#tabla {
    width: 1000px;
    margin: 0 auto;
}

th{
    border-style:solid;
    background-color:#5d95e9;
    color:#000000;
    font-weight:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align:center;
}

th:hover {
    border-style:solid;
    background-color: #b8dbf1;
    transform: translate(2px, 2px);
    transition: background-color 0.5s ease-in, transform 0.2s ease-in;
}

td{
    border-style:solid;
    background-color:#b8dbf1;
    font-size: 18px; 
    color:#000000;
    text-align:center;
}

td:hover{
    border-style:solid;
    background-color: #5d95e9;
    transform: translate(2px, 2px);
    transition: background-color 0.5s ease-in, transform 0.2s ease-in;
}

/*css relacionado con las imágenes de las listas*/

.flecha li{padding: .2em 0 .2em 2.0em; display: block; background: #186fcc url("../images/flecha_activa.png") no-repeat 3px;}
.flecha li:hover{background: #186fcc url("../images/flecha_inactiva.png") no-repeat 3px;}

/*css relacionado con los enlaces de la web*/

a:link{
    color:#b8dbf1;
}

a:visited{
    color:black;
}

a:hover{
    color:white;
}
