body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
    background: lightcyan;
    padding: 10px 0px;
}
.header h3{
    margin: 5px;
    padding: 5px 10px;
    background-color: lightblue;
    border-radius: 20px;
    transition: background-color 0.3s ease-out;
}
.header h3:hover{
    background-color: #7081e1;
    transition: background-color 0.5s ease-in;
}