.integrantes{
    margin-top: -10%;
    margin-left: 2%;
}
.integrantes h3,li{
    color: white;
}
/* slider */
.slider {
    height: calc(100vh - 117px);
    border-radius: 5px;
    position: relative;
}
.slider ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}
.slider ul li  {
    position: relative;
    display: none;
    height:350px;
}
.slider ul li img {
    height: 160%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.slider ul li span {
    position: absolute;
    bottom: 0;
    background: hsl(0, 1%, 72%, .1);
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #fff;
}

/* buttons */
.slider .buttons  {
    position: absolute;
    top: 40%;
    width:  100%;
}
.slider .buttons .next {
    border-radius: 30px;
    font-size: 2rem;
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    text-align: center;
}    
.slider .buttons .prev {
    border-radius: 30px;
    font-size: 2rem;
    left: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    text-align: center;
}   
.slider .buttons .next:hover {
    background: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 93%);
}
.slider .buttons .prev:hover {
    background: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 93%);
}

/* slider animation */
.slider ul li {
    animation-name: fade;
    animation-duration: 2.5s;
} 
@keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}
body{ margin: 0;}